/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/10/2014, 09:22:29
    Author     : Edson Nakada
*/

/****************************************************************************
 * Reset default browser CSS. Based on work by Eric Meyer:
 *  http://meyerweb.com/eric/tools/css/reset/index.html
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
hr {
    margin-bottom: 0;
}


/****************************************************************************
 * Header/General/Footer - Styles
 */
body {
    background-color: #f8f8f8;
    color: #888
}

a:link, a:visited,
a:hover {
    text-decoration: none;
    color: #888;
}
a:hover {
    color: green;
}

#wrapper {
    width: 1200px;
    margin: 0px auto;
    background-color: white;
    border-right: 2px solid #f1f1f1;
    border-left: 2px solid #f1f1f1;
}

#header {
    height: 200px;
    overflow: visible;
    margin-bottom: 10px;
}

#banner {
    z-index: 0;
    height: 0px;
}

#welcome-bar {
    position: relative;
    z-index: 1000;
    
    width: 40%;
    height: 20px;
    padding: 15px;
    background-color: rgba(0,0,0,0.6);
    
    border-bottom-right-radius: 15px;
    
    color: #eee;
}
#welcome-bar a:link, #welcome-bar a:visited,
#welcome-bar a:hover {
    color: white;
}
#welcome-bar a:hover {
    color: lightgreen;
}

#login-box {
    float: right;
    margin-top: -15px;
}

#nav-bar {
    position: relative;
    z-index: 1000;
    
    width: 100%;
    height: 40px;
    margin-top: 110px;
    background-color: #000;
    
    border-top-right-radius: 40px;
    
    color: #eee;
}


#menu {
    padding: 2px;
    overflow: hidden;
}
#menu li {
    float: left;
    border-right: 1px solid #555;
}
#menu li a:link, #menu li a:visited,
#menu li a:hover {
    display: block;
    padding: 10px 15px;
    
    text-decoration: none;
    color: #eee;
}
#menu li a:hover {
    background-color: #555;
}
#menu li ul {
    position: absolute;
    visibility: hidden;
    border-top: 2px solid #555;
    margin:0;
    padding:0;
}
#menu li ul li {
    float:none;
}
#menu li ul li a:link, #menu li ul li a:visited,
#menu li ul li a:hover {
    background-color: #000;
    width:auto;
}
#menu li ul li a:hover {
    background-color: #555;
}
#menu li.right-menu {
    border: none;
    float: right;
    margin-right: 30px;
}
#menu li.last-menu {
    border: none;
}


#content {
    padding: 15px;
    min-height: 600px;
}
#content h1 {
    color: green;
}
#content hr {
    margin-bottom: 15px;
    color: green;
    font-weight: bold;
}
#content ul li {
    margin-left: 50px;
    padding: 5px 15px;
    list-style: disc;
}
#content table, #content td {
    padding: 4px;
 }
img.propaganda {
    margin: 0 35px;
}


#footer {
    width: 100%;
    min-height: 80px;
    margin: 0;
    
    background-color: #eee;
    border-top: 2px solid #e5e5e5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    text-align: center;
}
#footer table {
    margin: 0 auto;
    padding-bottom: 20px;
}
#footer table tr td {
    padding: 0 5px;
    text-align: left;
}
#footer table tr td.division {
    border-right: 1px solid #888;
}

/****************************************************************************
 * Update Pacient Profile - Styles
 */
#update-p-search-form {
    
}

#update-p-show-results {
    
}

/****************************************************************************
 * Table styles
 */
.results-table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #aaa;
}
.results-table th {
    display: table-cell;
    background-color: #e5e5e5;
    vertical-align: inherit;
    font-weight: bold;
    text-align: left;
}
.results-table th, .results-table td {
    padding: 4px;
    border-bottom: 1px solid #aaa;
}